@import "boxicons/css/boxicons.min.css";

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-x: 38rem;
  --spacing-x: 38rem;
  --spacing-st: 0rem;
  --spacing-st2: calc(4rem + var(--spacing-st));
  --spacing-sb: 0rem;
  --spacing-bar: calc(4rem + var(--spacing-sb));
}
